.texto {
    font-family: 'Monoton', cursive;
}
.titulos{
    font-family: 'Electrolize', sans-serif;
}

.navbar-nav .nav-link.active {
    color: #fd7e14;
}

.btn-orange {
    background-color: #fd7e14;
    color: whitesmoke;
}

.btn-orange:hover {
    background-color: white;
    border: #fd7e14 2px solid;
    color: #fd7e14;
}

.bg-orange {
    background-color: #fd7d145b;
}

.dropdown-menu{
    background-color:#fd7d145b ;

    }

.card{
    
    background: linear-gradient(0deg, rgba(251,233,18,1) 2%, rgba(253,125,20,0.8883754185267857) 37%);
    transition-duration:2s ;
    transition-timing-function: ease;
    
}
.card:hover{
    box-shadow: 0px 15px 15px;
    transform:scale(1.1)
}

